@model IEnumerable<WardrobeMVC.Models.Occassion>

@{
    ViewBag.Title = "Index";
}
<div class="row thumbnail" id="index">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div>
        <div>
            <h1>@Html.DisplayNameFor(model => model.OccassionName)</h1>
        </div>
        <div></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-md-3" id="Annette">
            <div>
                <div>
                    @Html.DisplayFor(modelItem => item.OccassionName)
                </div>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OccassionID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OccassionID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OccassionID })
                </div>
            </div>
        </div>
    }

</div>
