@model IEnumerable<WardrobeMVC.Models.Color>

@{
    ViewBag.Title = "Index";
}


@*Making div to style Index page*@
<div class="row thumbnail" id="basic">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    
        <div>
          <h1>@Html.DisplayNameFor(model => model.ColorName)</h1>
        </div>
  



    @foreach (var item in Model)
    {
        <div class="col-md-3" id="occ">
                <div>
                    <div>
                        @Html.DisplayFor(modelItem => item.ColorName) 
                    </div>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ColorID }) |
                        @*@Html.ActionLink("Create", "Create", new { id = item.ColorID }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.ColorID }) 
                    </div>
                </div>
            </div>
        
    }

</div>
