@model WardrobeMVC.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <div class="card">
        <div class="card-block">
            <div>
                @Html.DisplayNameFor(model => model.Name)
            </div>

            <div>
                @Html.DisplayFor(model => model.Name)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Photo)
            </div>

            <div>
                <img src="@Html.DisplayFor(model => model.Photo)" id="picture1" />
            </div>

            <div>
                @Html.DisplayNameFor(model => model.ClothingType.TypeName)
            </div>

            <div>
                @Html.DisplayFor(model => model.ClothingType.TypeName)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Color.ColorName)
            </div>

            <div>
                @Html.DisplayFor(model => model.Color.ColorName)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Occassion.OccassionName)
            </div>

            <div>
                @Html.DisplayFor(model => model.Occassion.OccassionName)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Season.SeasonName)
            </div>

            <div>
                @Html.DisplayFor(model => model.Season.SeasonName)
            </div>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
